[Unit]
Description=Root FTP
After=network.target

[Service]
ExecStart=/usr/local/bin/rootftp start
Restart=always
StandardOutput=append:/var/log/rootftp.log
StandardError=append:/var/log/rootftp.log
[Install]
WantedBy=multi-user.target
